@model IEnumerable<examenAnalista.Models.Empleado>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.dpi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nHijo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salarioBase)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaCreacion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.dpi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nHijo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.salarioBase)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaCreacion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.empleadoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.empleadoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.empleadoId })
        </td>
    </tr>
}

</table>
